:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  text-align: center;
}

article {
  margin: 1rem;
  border-radius: 0.3rem;
}

label {
  padding: 1rem;
}

input,
button {
  border-radius: 0.3rem;
}

select:hover,
button:hover {
  cursor: pointer;
}

.map-input {
  display: flex;
  justify-content: start;
  margin: 1rem;
}

.submit-form {
  background-color: gray;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

.pot-header {
  font-size: 3rem;
  padding: 1rem;
  margin: 0rem;
}

.follow-me {
  display: flex;
  justify-content: center;
}

h3 {
  padding: 0.5rem;
}

.header {
  text-align: start;
  background-color: grey;
  padding-left: 1rem;
  margin: 0rem;
}

.card-header {
  padding: 0rem;
  margin: 0rem;
}

.footer-icons {
  font-size: 3rem;
  padding: 0rem 1.5rem;
  margin: 1rem 0rem;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

.footer-icons:hover {
  color: black;
  font-size: 4rem;
  margin: 0rem;
}
